# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
ENV/
env/
.venv/

# Django static/media
/static/
/staticfiles/
/media/

# Collected static files
*.js.map

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml

# AWS credentials
.aws/
